
@{
    ViewBag.Title = "Justice";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using PhotoStudio.Common;
@using PhotoStudio.Model;
@if (Session["UID"] != null)
{
    <script type="text/javascript">
        function JusticeAdd(data) {

            var serverData = data.split(':');
            if (serverData[0] == "ok") {
                $("#sussMsg").html("<div class=\"alert alert-success alert-dismissible\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\"><span aria-hidden=\"true\">&times;</span><span class=\"sr-only\">Close</span></button><i class=\"fa fa-check-circle m-right-xs\"></i><strong>" + serverData[1] + "！</strong></div>");
            }
            else if (serverData[0] == "no") {
                $("#sussMsg").html("<div class=\"alert alert-danger alert-dismissible\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\"><span aria-hidden=\"true\">&times;</span><span class=\"sr-only\">Close</span></button><i class=\"fa fa-times-circle m-right-xs\"></i> <strong>" + serverData[1] + "!</strong></div>");
            }
            else {
                window.location.href = "/Home/Index";
                $("#sussMsg").html("<div class=\"alert alert-warning alert-dismissible\" role=\"alert\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\"><span aria-hidden=\"true\">&times;</span><span class=\"sr-only\">Close</span></button><i class=\"fa fa-exclamation-circle m-right-xs\"></i> <strong>系统繁忙！</strong></div>");
            }
        }
    </script>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default weather-widget">
                <div class="panel-body bg-success text-white">
                    <div class="h4 text-white text-center">员工赏罚</div>
                </div>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#search" data-toggle="tab">赏罚查询</a></li>
                    <li><a href="#add" data-toggle="tab">赏罚添加</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="search">
                        <div class="row">
                            <div class="col-md-12 m-top-md m-bottom-md text-center">
                                @using (Html.BeginForm("Justice", "Finance", FormMethod.Get))
                                {
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-2 text-right">开始时间：</div>
                                        @Html.TextBox("ksdate", "2015/02/29", new { @class = "col-md-3 left", @type = "date", @name = "user_date", @id = "ks_date" })
                                        <div class="col-md-1 text-right">类型：</div>
                                        @Html.DropDownList("sfc", (List<SelectListItem>)ViewBag.sfselect, new { @class = "col-md-1" })
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-2 col-md-2 text-right">结束时间：</div>
                                        @Html.TextBox("jsdate", "2015/02/29", new { @class = "col-md-3 left", @type = "date", @name = "user_date", @id = "js_date" })
                                        <div class="col-md-1 text-right">员工ID：</div>
                                        @Html.DropDownList("sfc", (List<SelectListItem>)ViewBag.Letters, new { @class = "col-md-1" })
                                    </div>
                                    <div class="row">
                                        <div class="col-md-offset-8 col-md-2 text-left">
                                            <button id="btn1" type="submit" class="btn btn-default ">查询</button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-md-offset-1 col-md-10 m-top-md m-bottom-md text-center bg-dark-blue text-white">
                                <div class="m-top-md m-bottom-md text-center col-sm-8 col-sm-offset-2 ">
                                    <div class="col-sm-1">序号</div>
                                    <div class="col-sm-1">类型</div>
                                    <div class="col-sm-2">员工ID</div>
                                    <div class="col-sm-2">员工姓名</div>
                                    <div class="col-sm-3">输入时间</div>
                                    <div class="col-sm-3">原因</div>
                                </div>
                            </div>

                            @if (ViewBag.lCount > 0)
                            {
                                foreach (PhotoStudio.Model.RewPun n in ViewBag.listOrders)
                                {
                                    string she = "";
                                    if (n.Type == 0)
                                    {
                                        she = "奖励";
                                    }
                                    else
                                    {
                                        she = "惩罚";
                                    }
                                    <div class="col-md-offset-1 col-md-10 m-top-md m-bottom-md text-center">
                                        <div class="m-top-md m-bottom-md text-center col-sm-8 col-sm-offset-2 ">
                                            <div class="col-sm-1"> @n.ID</div>
                                            <div class="col-sm-1">@she</div>
                                            <div class="col-sm-2"> @n.OperID</div>
                                            <div class="col-sm-2">好人</div>
                                            <div class="col-sm-3"> @n.Time</div>
                                            <div class="col-sm-3"> @n.Text</div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2 ">
                                            <hr style="height:1px;border:none;border-top:1px dashed #7B7B7B;" />
                                        </div>

                                    </div>
                                }
                                <div class="col-md-offset-1 col-md-10 m-top-md m-bottom-md text-center">
                                    <div class="m-top-md m-bottom-md text-center col-sm-8 col-sm-offset-2 ">
                                        <nav>
                                            <ul class="pagination pagination-lg">
                                                @MvcHtmlString.Create(PageBar.GetPagebar((int)ViewBag.Index, (int)ViewBag.lCount));
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                            }
                            else
                            {
                                <div class="h4 text-upper col-sm-8 col-sm-offset-2 ">
                                    没有相关记录！！
                                </div>
                            }
                        </div>

                    </div>
                    <div class="tab-pane fade" id="add">
                        <div class="row m-top-md m-bottom-md text-center">
                            @using (Ajax.BeginForm("JusticeAdd", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "JusticeAdd" }, new { id = "JusticeAdd", @class = "form-horizontal " }))
                            {
                                <div id="sussMsg"></div>
                                <div class="form-group">
                                    <label class="col-md-2 col-md-offset-3 text-right">员工ID</label>
                                    @Html.DropDownList("GetOne", (List<SelectListItem>)ViewBag.Letters, new { @class = "col-md-6 form-control" });
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-md-offset-3 text-right">赏罚 </label>
                                    @Html.DropDownList("sf", (List<SelectListItem>)ViewBag.sfselect, new { @class = "col-md-6 form-control" });
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-md-offset-3 text-right">原因</label>
                                    @Html.TextArea("yy", "", new { @class = "col-md-6 form-control", @placeholder = "原因" })
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">存入</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <div class="panel-footer bg-white text-center padding-md">
                    <div class="h4 text-upper">by.@Session["UID"] </div>
                    <div class="text-muted font-7 m-top-xs">
                        @DateTime.Now
                    </div>
                </div>
            </div><!-- ./panel -->
        </div><!-- ./col -->
    </div>
}
else
{
    <div class="padding-md">
        <h1><a href="/Login">请登录！</a></h1>
    </div>
}